/* font-family: 'Lato', sans-serif; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


/* inicio de header */
header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #353a40;
    color: white;
    justify-content: space-between
}

.contenedor-imagen {
    width: 50%;
    height: 100%;
    padding: 2px;
}

.contenedor-titulo {
    display: flex;
    width: 250px;
    margin-left: 80px;
    align-items: center;
    justify-content: center;
}

.contenedor-imagen>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.contenedor-titulo>h1 {
    width: 100px;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    text-align: start;
}

.navegacion {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion>a {
    color: #9c9da1;
    font-size: 1.1em;
    text-decoration: none;
    margin: 20px;

}

header nav a:hover,
footer nav a:hover {
    animation: fadeIn;
    animation-duration: 0.5s;
    color: white;

}

#color-verde {
    color: #2aa644;
}

/* fin de header */

/* inicio de carrusel */
.cont-carrusel {
    position: relative;
}

#carouselExampleSlidesOnly img {
    height: 600px;
}

.cont-carrusel img {
    filter: brightness(50%);
}

/* fin de carrusel */




/* inicio de cuadro sobre carrusel */
#cont-texto {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 500px;
    height: 300px;
    text-align: right;
    color: white;

}

.eje {
    font-size: 2em;
    font-weight: bold;

}



.botones-superiores button {

    font-size: 20px;
    text-decoration: none;
}


.btn {
    color: white;
    border-color: gray;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border-color: gray;
}

#bt2:hover {
    background-color: #29a744;
    border-color: gray;
}

/* fin de cuadro sobre carrusel */

/* inicio de articulos */

.presentacion {
    width: 20%;
    text-align: center;
    margin: auto;
}

.p1 {
    margin-bottom: 1px;
    font-size: 1.2em;
}

.p2 {

    font-size: 25px;
    font-weight: bold;
}



.oradores {
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.oradores article {
    width: 300px;
    border: 1px solid rgb(224, 216, 216);
    border-radius: 5px;
}

.oradores article img {
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0 0;
}

.oradores article p {
    margin: auto;
    width: 90%;
}

.especialidad {
    margin-bottom: 10px;
    margin-top: 15px;
}

.especialidad p span {
    padding: 5px;
}



.etiq1 {
    background-color: rgb(252, 235, 4);
    border-radius: 5px;

}

.etiq2 {
    background-color: rgb(56, 197, 240);
    color: white;
    border-radius: 5px;
    margin-left: 7px;
}


.etiq3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

#color-invertido1 {
    color: white;
    background-color: #6d767d;
    border-radius: 5px;
}

#color-invertido2 {
    background-color: #dc3546;
    color: white;
    border-radius: 5px;
    margin-left: 7px;

}

article div p {
    font-weight: bold;
}

/* fin de articulos */

/* Inicio de descripcion de ciudad */

.contenedor-ciudad {
    width: 100%;
    display: flex;
    margin: 40px 0 20px;
}

.contenedor-ciudad div {
    width: 50%;
}

.imagen-ciudad img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.texto-ciudad {
    background-color: #333a40;
    padding: 20px;
    color: white;
}

#p-ciudad {
    font-size: 30px;
    font-weight: bold;
}

/* Fin descripcion de ciudad */


/* form inicio */

.formulario {

    margin: auto;
    width: 600px;
    text-align: center;
    font-size: 15px;
}

.formulario>p {
    margin: 4px;
}

#orador {
    font-size: 25px;
    font-weight: bold;

}

.punteado {
    text-decoration: underline dotted;
}

.datosPersonales {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}

.datosPersonales>input {
    width: 49%;
    padding: 0 10px;
}

.tamañoTextArea {
    height: 6em;
    width: 100%;
    margin: 0;
    font-size: 1.5em;
    padding: 10px;
}

.tamañoTextArea:focus,
#nombre,
#apellido {
    outline: none;
}



#text-area {
    text-align: left;
    font-size: 12px;
    margin: 0;
}

#botonEnviar {
    width: 100%;
    background-color: #21be43;
    margin-top: 20px;
}

#botonEnviar:hover {
    background-color: #29a744;
    border-color: gray;
}



/* fin de formulario */

/* inicio de footer */

footer {
    margin-top: 25px;
    background-color: #1e4f6d;
}

.navegacion-footer {

    display: flex;
    justify-content: center;


}

footer nav a {
    font-size: 1.1em;
    color: #9c9da1;
    text-decoration: none;
    text-align: left;
    margin: 20px 5px;
    text-align: center;
    padding: 10px 20px;
}



/* border: 1px solid black; */

.gral-texto {
    font-size: 1.1em;
}

#categoria{
    
    display: flex;
    justify-content: center;
   
    
    

}

.cuadro_cat{
    border: 1px solid black;
    margin: 10px;
}